@media screen and (max-width: 1380px) {
  #wrap .container-fluid .main-right .nav-right,
  .no-home #wrap .container-fluid .main-right .nav-right {
    top: -358px;
	right: 0px;
  }
  .no-home #wrap .container-fluid .main-right .nav-right {
    top: -301px
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
